<div class='student edit'>
  <h2>Edit Student Information</h2>
  <h2><%= @student.first.capitalize %> <%= @student.last %></h2>

  <%= form_for(@student) do |s| %>

    <p>Username:
      <%= s.text_field :email %>
    </p>

    <p>Password:
      <%= s.password_field :password %>
    </p>

    <p>Attended the "<%= @student.cohort.cohort %>" <%= @student.cohort.course.course %> course in <strong><%= Location.find(@student.cohort.course).city %></strong>
    </p>

    <p>Cohort ID: <%= @student.cohort_id %></p>

    <p>Graduated on <%= @student.cohort.ends_on %></p>

    <p>
      <%= s.label :email, "Email:" %><br />
      <%= s.email_field :email %>
    </p>

    <p>Phone Number:
      <%= s.telephone_field :phone %>
    </p>

    <p>Employment Status:<br />
      <%= s.radio_button :is_employed, 'true' %>
      <%= s.label :is_employed, "Employed" %><br />
      <%= s.radio_button :is_employed, 'false' %>
      <%= s.label :is_employed, "Not Employed" %><br />
    </p>

      <p><%= s.label :employment_type, "If employed, Employment Type:" %><br />
        <%= s.text_field :employment_type %><br />
      </p>

      <p>
        <%= s.label :employment_start_date, "Employment Start Date:" %>
        <%= s.date_field :employment_start_date %>
      </p>

      <p>
        <%= s.label :skills, "Skills:" %><br />
        <%= s.text_area :skills %><br />
      </p>

    <%= s.submit "Submit Changes"%>
  <% end %>
</div>

