<div class='student edit'>
  <h2>Edit Student Information</h2>
  <h2><%= @student.first.capitalize %> <%= @student.last %></h2>

  <p>Username: <%= @student.first.capitalize %></p>

  <p>Password: <%= @student.last %></p>
  <!-- how do we have them edit the password? -->

 <p>Attended the "<%= @student.cohort.cohort %>" <%= @student.cohort.course.course %> course in <%= Location.find(@student).city %>
    </p>

  <p>Graduated on <%= @student.cohort.ends_on %>.</p>

  <p>Employment Status: <input type='radio' id='student_is_employed_yes' name='student[is_employed]'value='Employed' checked='checked' />
      <input type='radio' id='student_is_employed_no' name='student[is_employed]'value='Unemployed' />
    </p>
    <!-- does this work and does this data need to go anywhere? -->

    <p>Employment Type:
    </p>
    <!-- add input field -->

    <p>Skills(Separate individual skills by comma): <input type='text' />
    </p>
    <!-- finish input field and change to text field -->

    <p>Email: <input type='text' /></p>
    <!-- finish input field -->

    <p>Phone Number: <input type='text' /></p>
    <!-- finish input field and change to just be for hone number format -->

<!--     <%#= button_to "Submit Changes",    %> -->
    <!-- finish path and make sure it posts to database -->

</div>


