<div class='student'>
  Logged in as <%= @student.first %></br>
  <%= link_to 'logout', '/logout', method: :delete %>

    <p>Username: <%= @student.first %></p>

    <p>Password: <%= @student.last %></p>

    <p>Attended the "<%= @student.cohort.cohort %>" <%= @student.cohort.course.course %> course in
   <!--     @student.cohort.course.location.city %>. -->
   <!-- fix this - won't recognize location :(  ) -->
    </p>
    <p>Graduated on <%= @student.cohort.ends_on %>.</p>

    <p>Employment Status:
      <% if @student.is_employed == false %>
          <%= "Not Yet Employed" %>
      <% else %>
        <%= "Employed" %>
      <% end %>
    </p>

    <p>Skills: <ul class="skills">
      <% @student.skills.split(",").each do |skill| %>
                  <li><%= skill %></li>
              <% end %>
    </ul></p>

    <p>Email: <%= @student.email %></p>

    <p>Phone Number <em>(XXX) XXX-XXXX</em></br>
      <input type='text' />
    </p>

    <p></p>

    <input type='submit' value='Update Account'/>

</div>
