<div class='student'>
  Logged in as <%= @student.first %></br>
  <%= link_to 'logout', '/logout', method: :delete %>

    <p>Username: <%= @student.first %></p>

    <p>Password: <%= @student.last %></p>

<!--     <p>Student ID: </br><%= @student.id %></p> -->

    <p>Course: <%=  %></p>
    <!-- insert course name based on cohort id, etc -->

    <p>Cohort: <%= @student.cohort_id %></p>
    <!-- change this to the cohort name -->

    <p>Employment Status: <%= @student.is_employed %></p>
    <!-- make this a method that if is employed says yes or no -->

    <p>Skills: <%= @student.skills %></p>
    <!-- how will this be formatted? -->

    <p>Email: <%= @student.email %></p>

    <p>Phone Number <em>(XXX) XXX-XXXX</em></br>
      <input type='text' />
    </p>

    <p></p>

    <input type='submit' value='Update Account'/>

</div>
