<!DOCTYPE html>
<html>
<head>
  <title>OutcomesTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <img src="https://generalassemb.ly/online/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.png" class='logo'></img>
    <%= link_to "General Assembly Outcomes Tracker", root_path %>
  </div>

  <% if !session[:admin_id].nil? || !session[:student_id].nil? %>
    <div class="logout"><%= link_to 'logout', logout_path, method: :delete %></div>
  <% end %>

  <div class="main">

  <%= yield %>

  </div>

<!--   <div class="footer"><%= link_to "Outcomes Tracker Home/Login", root_path %></div> -->
</body>
</html>
